# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
bin
node_modules
.DS_Store
obj
dist-ssr
coverage
*.local
obj
/cypress/videos/
/cypress/screenshots/
*.config
# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj*
*.sln
*.sw?
.env
